@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-3 rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-5 rounded-lg;
  }
}

@layer components {
  .custom-antd-form-small .ant-form-item {
    @apply mb-3;
  }

  .checkerboard {
    background-color: theme('colors.neutral-3');
    background-image: linear-gradient(45deg, theme('colors.neutral-4') 25%, transparent 25%),
      linear-gradient(-45deg, theme('colors.neutral-4') 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, theme('colors.neutral-4') 75%),
      linear-gradient(-45deg, transparent 75%, theme('colors.neutral-4') 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  }
}
